# Build directory
build/

# CMake files
CMakeCache.txt
CMakeFiles/
*.cmake
Makefile

# IDE specific files
.vscode/
.idea/

# Compiled files
*.o
*.out
*.exe

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db 